*{
    margin: 0;
}

html, body{
    height:100% ;
}

body{
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: rgb(228, 228, 7);
}

.container{
    background-color: black;
    width: 300px;
    height: 300px;
    padding: 5px;
    border-radius: 15px;
    box-shadow: 5px 5px 8px 2px rgba(0, 0 ,0 ,0.4);

}

#p_output{
    /* background-color: blue; */
    height: 57px;
    color: white;
    font-size: 50px;

}
.numbers{
    /* background-color: aqua; */
    display: flex;
    flex-wrap: wrap;
    /* flex: 25%; */
    /* width: 370px; */
    height:calc(100% - 57px);
    /* margin: auto;
    margin-top: 20px; */

    
}

 .figure{

    width: 25%;
    border-radius: 10%;
font-size: larger;
}

#equal{
    width: 50%;

}
#reset{
    background-color: red;
}

#nofar{
    font-family: 'Lobster', cursive;    
}

